<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>myTrip</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href="ng-material-floating-button/mfb/dist/mfb.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-app="myTrip" ng-controller="MyTripCtrl">
      <nav mfb-menu position="br" effect="slidein" label="close"
      active-icon="ion-close-round" resting-icon="ion-information"
      toggling-method="click">
        <button mfb-button icon="ion-settings" label="Setting" onclick="location='settings.html'"></button>
        <button mfb-button ui-sref="map" icon="ion-map" label="Map" onclick="location='map.html'"></button>
      </nav>
      <script src="ng-material-floating-button/src/mfb-directive.js"></script>      
      <ion-side-menus>
        <!-- Center content -->
        <ion-side-menu-content>
          <ion-header-bar class="bar-calm" >
              <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
            <h1 class="title">MyTrip</h1>
            <!-- New Task button-->
            <button class="button button-icon" ng-click="newTask()">
              <i class="icon ion-plus-round"></i>
            </button>
          </ion-header-bar>
          <ion-content>
            <div class="list card" ng-repeat="task in tasks">
              <div class="item item-icon-right ">
                <h2>{{ task.title }}</h2>
                <p>{{ task.startDate|date:"MMM,d,yyyy"}} - {{ task.endDate|date:"MMM,dd,yyyy"}}</p>
                <i class="button button-icon icon ion-ios-heart" ng-click="like(task)" ng-class="{like:task.like}"></i>
              </div>
              <div class="item item-image">
                <img src="travel2.jpg">
              </div>
              <div id="comment" class="item positive" href="#">
                 {{task.comment}}
              </div>
            </div>
          </ion-content>
        </ion-side-menu-content>

          <!-- Left menu -->
            <ion-side-menu side="left">
                <ion-content>
                <ul class="list">
                <ion-item href="settings.html" class="item-icon-left" menu-close>
                  <i class="icon ion-gear-a"></i>
                  Settings</ion-item>
                <ion-item href="map.html" class="item-icon-left" menu-close>
                  <i class="icon ion-map"></i>
                  My Trip Map</ion-item>
                </ul>
              </ion-content>
            </ion-side-menu>

      <script id="new-task.html" type="text/ng-template">

        <div class="modal">

          <!-- Modal header bar -->
          <ion-header-bar class="bar-secondary">
            <h1 class="title">New Trip</h1>
            <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
          </ion-header-bar>

          <!-- Modal content area -->
          <ion-content>

            <form ng-submit="createTask(task)">
              <div class="list">
                <label class="item item-input">
                  <input type="text" placeholder="旅程名稱" ng-model="task.title">
                </label>
                <label class="item item-input">
                  <input type="text" placeholder="簡短敘述" ng-model="task.comment">
                </label>
                <label class="item item-input">
                  <h3>開始日期</h3>
                  <input type="date" ng-model="task.startDate">
                </label>
                <label class="item item-input">
                  <h3>結束日期</h3>
                  <input type="date" ng-model="task.endDate">
                </label>
              </div>
              <div class="padding">
                <button type="submit" class="button button-block button-positive">加入旅程</button>
              </div>
            </form>
          </ion-content>
        </div>
      </script>

  </body>
</html>